In [2]:
#importing the libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [3]:
data_drug200=pd.read_csv("drug200.csv")

In [4]:
#Displaying a few rows
data_drug200.head(15)

    Age Sex      BP Cholesterol  Na_to_K   Drug
0    23   F    HIGH        HIGH   25.355  DrugY
1    47   M     LOW        HIGH   13.093  drugC
2    47   M     LOW        HIGH   10.114  drugC
3    28   F  NORMAL        HIGH    7.798  drugX
4    61   F     LOW        HIGH   18.043  DrugY
5    22   F  NORMAL        HIGH    8.607  drugX
6    49   F  NORMAL        HIGH   16.275  DrugY
7    41   M     LOW        HIGH   11.037  drugC
8    60   M  NORMAL        HIGH   15.171  DrugY
9    43   M     LOW      NORMAL   19.368  DrugY
10   47   F     LOW        HIGH   11.767  drugC
11   34   F    HIGH      NORMAL   19.199  DrugY
12   43   M     LOW        HIGH   15.376  DrugY
13   74   F     LOW        HIGH   20.942  DrugY
14   50   F  NORMAL        HIGH   12.703  drugX

In [5]:
data_drug200.shape

(200, 6)

In [25]:
#Seperating the x and the y variables and converting them to numpy array
X=data_drug200.drop(columns=["Age","Na_to_K"])
y=data_drug200['Na_to_K']
X=X.to_numpy()
y=y.to_numpy()

In [26]:
data_drug200.describe()

              Age  Cholesterol     Na_to_K
count  200.000000          0.0  200.000000
mean    44.315000          NaN   16.084485
std     16.544315          NaN    7.223956
min     15.000000          NaN    6.269000
25%     31.000000          NaN   10.445500
50%     45.000000          NaN   13.936500
75%     58.000000          NaN   19.380000
max     74.000000          NaN   38.247000

In [27]:
new_data=[['Age','Sex','BP','Na_to_K','Na_to_k','Drug']]
data_drug200.head()

   Age Sex      BP  Cholesterol  Na_to_K   Drug
0   23   F    HIGH          NaN   25.355  DrugY
1   47   M     LOW          NaN   13.093  drugC
2   47   M     LOW          NaN   10.114  drugC
3   28   F  NORMAL          NaN    7.798  drugX
4   61   F     LOW          NaN   18.043  DrugY

In [9]:
model=LogisticRegression()

In [10]:
data_drug200.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [28]:
data_drug200["Na_to_K"]=pd.to_numeric(data_drug200["Na_to_K"],errors='coerce')
df_cleaned=data_drug200.dropna(subset="Na_to_K")
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  0 non-null      float64
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 9.5+ KB

In [29]:
df_cleaned.shape

(200, 6)

In [32]:
df_cleaned["Na_to_K"].unique()

array([25.355, 13.093, 10.114,  7.798, 18.043,  8.607, 16.275, 11.037,
       15.171, 19.368, 11.767, 19.199, 15.376, 20.942, 12.703, 15.516,
       11.455, 13.972,  7.298, 25.974, 19.128, 25.917, 30.568, 15.036,
       33.486, 18.809, 30.366,  9.381, 22.697, 17.951,  8.75 ,  9.567,
       11.014, 31.876, 14.133,  7.285,  9.445, 13.938,  9.709,  9.084,
       19.221, 14.239, 15.79 , 12.26 , 12.295,  8.107, 13.091, 10.291,
       31.686, 19.796, 19.416, 10.898, 27.183, 18.457, 10.189, 14.16 ,
       11.34 , 27.826, 10.091, 18.703, 29.875,  9.475, 20.693,  8.37 ,
       13.303, 27.05 , 12.856, 10.832, 24.658, 24.276, 13.967, 19.675,
       10.605, 22.905, 17.069, 20.909, 11.198, 19.161, 13.313, 10.84 ,
       13.934,  7.761,  9.712, 11.326, 10.067, 13.935, 13.597, 15.478,
       23.091, 17.211, 16.594, 15.156, 29.45 , 29.271, 15.015, 11.424,
       38.247, 25.395, 35.639, 16.725, 11.871, 12.854, 13.127,  8.966,
       28.294,  8.968, 11.953, 20.013,  9.677, 16.85 ,  7.49 ,  6.683,
        9.17 , 13.769,  9.281, 18.295,  9.514, 10.103, 10.292, 25.475,
       27.064, 17.206, 22.456, 16.753, 12.495, 25.969, 16.347,  7.845,
       33.542,  7.477, 20.489, 32.922, 13.598, 25.786, 21.036, 11.939,
       10.977, 12.894, 11.343, 10.065,  6.269, 25.741,  8.621, 15.436,
        9.664,  9.443, 12.006, 12.307,  7.34 ,  8.151,  8.7  , 11.009,
        7.261, 14.642, 16.724, 10.537, 11.227, 22.963, 10.444, 12.923,
       10.443,  9.945, 12.859, 28.632, 19.007, 26.645, 14.216, 23.003,
       11.262, 12.879, 10.017, 17.225, 18.739, 12.766, 18.348, 10.446,
       19.011, 15.969, 15.891, 22.818, 13.884, 11.686, 15.49 , 37.188,
       25.893,  9.849, 10.403, 34.997, 20.932, 18.991,  8.011, 16.31 ,
        6.769, 34.686, 11.567,  9.894, 14.02 , 11.349])

In [31]:
df_cleaned.head(10)

   Age Sex      BP  Cholesterol  Na_to_K   Drug
0   23   F    HIGH          NaN   25.355  DrugY
1   47   M     LOW          NaN   13.093  drugC
2   47   M     LOW          NaN   10.114  drugC
3   28   F  NORMAL          NaN    7.798  drugX
4   61   F     LOW          NaN   18.043  DrugY
5   22   F  NORMAL          NaN    8.607  drugX
6   49   F  NORMAL          NaN   16.275  DrugY
7   41   M     LOW          NaN   11.037  drugC
8   60   M  NORMAL          NaN   15.171  DrugY
9   43   M     LOW          NaN   19.368  DrugY

In [15]:
df_cleaned.to_csv("drug200_csv", index=False)

In [16]:
x=df_cleaned.drop(columns="Na_to_K")

In [33]:
y=df_cleaned["Na_to_K"]

In [34]:
model=LogisticRegression()

In [39]:
#splitting the data into 70% training and 30% testing
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0, random_state=200)

ValueError: Found input variables with inconsistent numbers of samples: [0, 200]

In [22]:
print(x_train.shape)
print(y_train.shape)

NameError: name 'x_train' is not defined

In [23]:
#training the model

model.fit(x_train,y_train)

NameError: name 'x_train' is not defined

In [ ]:
y_pred=model.predict(x_test)